<%= @tournament.city %>: <%= @tournament.start_date %> — <%= @tournament.end_date %>
<table>
  <tr>
    <th>Команда</th>
    <th>Сумма</th>
    <th>I</th>
    <th>II</th>
    <th>III</th>
    <th>IV</th>
    <th>V</th>
  </tr>
  <% @tournament.chgk_results.each do |result| %>
    <tr>
      <td><%= result.name %></td>
      <td><%= result.sum %></td>
      <td><%= result.tour_1 %></td>
      <td><%= result.tour_2 %></td>
      <td><%= result.tour_3 %></td>
      <td><%= result.tour_4 %></td>
      <td><%= result.tour_5 %></td>
    </tr>
  <% end %>
</table>
<h3>Редакторы</h3>
<h4>ЧГК</h4>
<% @tournament.chgk_editors.each do |editor| %>
  <p><%= editor.first %> — <%= editor.last.join(", ") %></p>
<% end %>

<h4>Эрудит-квартет</h4>
<% @tournament.eq_editors.each do |editor| %>
  <p><%= editor.name %> — <%= editor.stage %></p>
<% end %>
<h4>Брейн-ринг</h4>
<% @tournament.br_editors.each do |editor| %>
  <p><%= editor.name %> — <%= editor.stage %></p>
<% end %>
<h4>Своя игра</h4>
<% @tournament.si_editors.each do |editor| %>
  <p><%= editor.name %> — <%= editor.stage %></p>
<% end %>
