<h1>Медали</h1>

<table>
  <tr>
    <th>Имя</th>
    <th>Всего</th>
    <th>Золото</th>
    <th>Серебро</th>
    <th>Бронза</th>
  </tr>

  <% @medals.each do |medal| %>
    <tr>
      <td><%= link_to medal.name, player_path(medal.id) %></td>
      <td><%= medal.total %></td>
      <td><%= medal.gold %></td>
      <td><%= medal.silver %></td>
      <td><%= medal.bronze %></td>
    </tr>
  <% end %>
</table>