<h1><%= @player.name %></h1>

<%= link_to "Рейтинг", @player.rating_link %>

<% @player.tournamentteams.each do |team| %>
  <p><%= link_to team.name, tournamentteam_path(team) %> (<%= team.tournament.year%>)</p>
<% end %>

<%= @player.places %>
